version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - pr_app_network

  web:
    build: .
    command: >
      sh -c "python pru_app/manage.py wait_for_db &&
             python pru_app/manage.py migrate &&
             python pru_app/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - pr_app_network

volumes:
  postgres_data:

networks:
  pr_app_network:
    driver: bridge
